.products {
    display: flex;
    height: 771px;
    background-color: #F0EBE6;
    flex-direction: column;
    &__footer {
        display: flex;
        width: 1206px;
        margin: 0 auto;
    }
    &__attention {
        display: flex;
        gap: 12px;
        margin-right: auto;
    }
    &__note {
        margin-left: auto;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}
.products-text-img {
    display: flex;
    &__text-button {
        display: flex;
        flex-direction: column;
        margin: 84px 0 0 auto;
        z-index: 1;
    }
    &__title {
        font-size: 31px;
        line-height: 40px;
        letter-spacing: 0.32px;
    }
    &__text-box {
        display: flex;
        margin-top: 26px;
    }
    &__text-list {
        display: flex;
        gap: 30px;
    }
    &__link {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.24px;
        color: #6F787E;
        &:hover {
            color: $green;
        }
    }
    &__item_pink {
        width: 88px;
        margin-left: -15px;
        border-left: 1px solid $black;
        text-align: right;
    }
    &__link_black {
        color: $black;
    }
    &__link_pink {
        color: #FF90AF;
        &:hover {
            color: $green;
        }
    }
    &__text {
        margin-top: 72px;
        width: 395px;
    }
    &__button {
        height: 28px;
        width: 164px;
        display: inline-flex;
        justify-content: center;
        background-color: $black;
        border-radius: 24px;
        margin-top: 217px;
    }
    &__link_white {
        color: $white;
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
    }
    &__image {
        margin: 84px auto 0 -82px;
        z-index: 0;
    }
}