.about-us {
    display: flex;
    flex-direction: column;
}

.about-us-title {
    border-bottom: 1px solid $black;
    width: 100%;
    &__text {
        margin: 33px auto 32px auto;
        width: 385px;
    }
    &__text-line {
        text-decoration: underline;
        font-weight: 700;
        &:hover {
            color: $green;
        }
    }
}

.about-us-text-image {
    display: flex;
    gap: 11px;
    border-bottom: 1px solid $black;
    &__text {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }
    &__title {
        margin-top: 166px;
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.75px;
    }
    &__text-img {
        display: flex;
        gap: 5px;
    }
    &__subtitle-text {
        font-weight: 700;
    }
}

.about-us-footer {
    display: flex;
    &__text {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    &__title {
        font-size: 31px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0.32px;
        margin-top: 48px;
    }
    &__subtitle {
        font-size: 17px;
        color:#6F787E;
        margin-top: 18px;
    }
    &__text-column {
        display: flex;
        gap: 60px;
        margin: 48px 0 64px auto;
    }
    &__box {
        width: 246px;
        height: 148px;
    }
    &__item {
        margin-top: 10px;
    }
    &__item_bold {
        font-weight: 700;
    }
    &__attention {
        display: flex;
        gap: 12px;
    }
    &__attention-text {
        color: #6F787E;
        font-weight: 500;
    }
    &__image {
        margin: 0 0 0 auto;
    }
    &__geometry-img {
        object-fit: cover;
        width: 100%;
    }
}