.header {
    display: flex;
    background-color: $white;
    height: 64px;
    &__logo {
        margin: 15px 24px;
    }
    &__list {
        display: flex;
        gap: 72px;
        margin: 18px auto 0 48px;
    }
    &__button {
        height: 48px;
        display: inline-flex;
        justify-content: center;
        background: none;
    }
    &__button_white {
        margin: 18px 16px 0 auto;
    }
    
    &__link {
        font-weight: 700;
        font-size: 17px;
        &:hover {
            color: $green;
        }
    }
    &__link_black {
        font-size: 18px;
    }
    &__link_white {
        &:hover {
            color: $white;
        }
    }
}

.button-green {
    @include button;
    background-color: $green;
    margin: 8px 24px 0 0;
}