.investing-ad {
    display: flex;
    background-color: #C3F53C;
    height: 654px;
    border-bottom: 1px solid $black;
    &__text {
        display: flex;
        flex-direction: column;
        margin: 94px 24px 0 auto;
    }
    &__title {
        width: 300px;
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.75px;
    }
    &__subtitle {
        width: 486px;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.24px;
        margin-top: 31px;
    }
    &__button {
        height: 48px;
        display: inline-flex;
        justify-content: center;
        width: 144px;
        background-color: $black;
        border-radius: 24px;
        padding: 10px 41px;
        margin-top: 39px;
    }
    &__link {
        color: $white;
        font-weight: 700;
        font-size: 17px;
        &:hover {
            color: $green;
        }
    }
    &__footer {
        display: flex;
        gap: 12px;
        margin-top: 40px;
    }
    &__image {
        width: 696px;
        margin-right: auto;
    }

}
